absl-py==2.0.0
accelerate==0.22.0
aiofiles==22.1.0
aiohttp==3.8.5
aiosignal==1.2.0
aiosqlite==0.18.0
alabaster==0.7.13
ale-py==0.8.1
alphagens==0.5.5
altair==5.1.2
annotated-types==0.5.0
anthropic==0.2.10
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
audioread==3.0.1
autorom.accept-rom-license==0.6.1
autorom==0.4.2
babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==4.1.0
blis==0.7.11
boltons==23.0.0
bottleneck==1.3.5
brotlipy==0.7.0
bs4==0.0.1
bypy==1.8.2
cachetools==5.3.1
catalogue==2.0.10
catboost==1.2.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==2.2.1
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.2
conda-content-trust==0.1.3
conda-libmamba-solver==23.7.0
conda-package-handling==2.2.0
conda-package-streaming==0.9.0
conda==23.9.0
confection==0.1.4
contourpy==1.1.0
coverage==7.3.3
cppman==0.5.6
cryptography==39.0.1
cycler==0.11.0
cymem==2.0.8
cython==3.0.5
datasets==2.12.0
debugpy==1.6.7
decontext==0.1.6
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.24.0
dill==0.3.6
diskcache==5.6.1
distance==0.1.3
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.20.1
effdet==0.3.0
einops==0.7.0
entrypoints==0.4
et-xmlfile==1.1.0
exchange-calendars==4.5
execnet==2.0.2
executing==0.8.3
farama-notifications==0.0.4
fastapi==0.104.1
fastjsonschema==2.16.2
ffmpy==0.3.1
fica==0.3.1
filelock==3.12.2
fonttools==4.42.1
frozenlist==1.3.3
fsspec==2023.12.1
fugashi==1.3.0
g2p-en==2.1.0
get-annotations==0.1.2
gitdb==4.0.11
gitpython==3.1.40
gmpy2==2.1.2
google-auth-oauthlib==1.1.0
google-auth==2.23.3
gradio-client==0.7.0
gradio==4.1.2
graphviz==0.20.1
grobid-client-python==0.0.5
grpcio==1.59.0
gym-notices==0.0.8
gym-super-mario-bros==7.4.0
gym==0.26.2
gymnasium==0.29.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.19.4
humanfriendly==10.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
importlib-resources==6.1.1
inflect==7.0.0
iniconfig==2.0.0
iopath==0.1.10
ipykernel==6.25.0
ipylab==1.0.0
ipython-genutils==0.2.0
ipython==8.12.2
ipywidgets==8.0.4
jaconv==0.3.4
jedi==0.18.1
jieba==0.42.1
jinja2==3.1.2
joblib==1.3.2
json5==0.9.6
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.17.3
jupyter-client==7.4.9
jupyter-console==6.6.3
jupyter-core==5.3.0
jupyter-events==0.6.3
jupyter-server-fileid==0.9.0
jupyter-server-ydoc==0.8.0
jupyter-server==1.23.4
jupyter-ydoc==0.2.4
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.22.0
jupyterlab-widgets==3.0.5
jupyterlab==3.6.3
jupytext==1.15.1
kaggle==1.5.16
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
langcodes==3.3.0
layoutparser==0.3.4
lazy-loader==0.3
libmambapy==1.4.1
librosa==0.10.1
lightgbm==4.1.0
lightning-utilities==0.10.0
llvmlite==0.41.1
lmdb==1.4.1
loguru==0.7.2
lxml==4.9.2
markdown-it-py==3.0.0
markdown==3.5
markupsafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.7.2
mdit-py-plugins==0.4.0
mdurl==0.1.2
mecab-python3==1.0.8
mistune==0.8.4
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.2
multiprocess==0.70.14
murmurhash==1.0.10
mypy-extensions==1.0.0
mypy==1.7.1
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
ncls==0.0.68
necessary==0.4.3
nes-py==8.2.1
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook-shim==0.2.2
notebook==6.5.4
num2words==0.5.13
numba==0.58.1
numexpr==2.8.4
numpy==1.25.2
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.27.7
opencv-python==4.8.0.76
openjtalk==0.3.0.dev3
openpyxl==3.1.2
orjson==3.9.10
otter-grader==5.1.3
packaging==23.0
pandas-market-calendars==4.3.1
pandas==1.5.3
pandocfilters==1.5.0
papermage==0.15.0
parso==0.8.3
pathvalidate==3.2.0
patsy==0.5.3
pdf2image==1.16.3
pdfminer.six==20220524
pdfplumber==0.7.4
peft==0.5.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.4.0
pip==23.1.2
platformdirs==3.10.0
plotly==5.17.0
pluggy==1.0.0
ply==3.11
pooch==1.8.0
portalocker==2.8.2
preshed==3.0.9
proces==0.1.7
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf==4.23.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycocotools==2.0.7
pycosat==0.6.4
pycparser==2.21
pydantic-core==2.6.3
pydantic==1.10.13
pydub==0.25.1
pygame==2.5.1
pyglet==1.5.21
pygments==2.15.1
pyluach==2.2.0
pyopenssl==23.0.0
pyparsing==3.0.9
pyperclip==1.8.2
pypinyin==0.49.0
pyqt5-sip==12.11.0
pyrsistent==0.18.0
pysbd==0.3.4
pysocks==1.7.1
pytest-cov==4.1.0
pytest-xdist==3.5.0
pytest==7.4.3
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.6
python-on-whales==0.64.3
python-slugify==8.0.1
pytorch-lightning==2.1.2
pytz==2022.7
pyyaml==6.0
pyzmq==23.2.0
qtconsole==5.4.2
qtpy==2.2.0
rapidfuzz==3.5.2
regex==2022.7.9
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests==2.29.0
requirements-parser==0.5.0
responses==0.13.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rsa==4.9
ruamel.yaml==0.17.21
safetensors==0.3.2
scikit-learn==1.3.1
scipy==1.11.2
seaborn==0.12.2
semantic-version==2.10.0
send2trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.38.0
seqeval==1.2.2
setproctitle==1.3.3
setuptools==67.8.0
shadow-scholar==0.6.1
shellingham==1.5.4
shimmy==0.2.1
simplejson==3.19.1
sip==6.6.2
six==1.16.0
smart-open==6.4.0
smashed==0.1.10
smmap==5.0.1
sniffio==1.2.0
snowballstemmer==2.2.0
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.7.2
sphinx==7.2.5
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
springs==1.13.0
srsly==2.4.8
stable-baselines3==2.2.0
stack-data==0.2.0
starlette==0.27.0
statsmodels==0.14.0
swig==4.1.1.post0
sympy==1.11.1
tenacity==8.2.3
tensorboard-data-server==0.7.1
tensorboard==2.15.0
tensorboardx==2.6.2.2
terminado==0.17.1
text-unidecode==1.3
thefuzz==0.20.0
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.4.0
timm==0.9.12
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchinfo==1.8.0
torchmetrics==1.2.1
torchvision==0.15.2
torchviz==0.0.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.7.1
transformers==4.31.0
triton==2.0.0
truststore==0.8.0
tushare==1.2.89
typer==0.9.0
types-pyyaml==6.0.12.12
types-setuptools==69.0.0.0
typing-extensions==4.8.0
tzdata==2023.3
unidecode==1.3.7
unidic-lite==1.0.8
urllib3==1.26.16
uvicorn==0.24.0.post1
vila==0.5.0
wand==0.6.13
wandb==0.16.1
wasabi==1.1.2
wcwidth==0.2.5
weasel==0.3.4
webencodings==0.5.1
websocket-client==0.57.0
websockets==11.0.3
werkzeug==3.0.0
wheel==0.38.4
widgetsnbextension==4.0.5
wrapt==1.15.0
xgboost==1.7.6
xxhash==2.0.2
y-py==0.5.9
yarl==1.8.1
ypy-websocket==0.8.2
zipp==3.11.0
zstandard==0.19.0